<div layout flex layout-align="center center">
    <md-button ng-if="!areTracksLoaded()" class="md-raised md-primary" ng-click="showAdvanced($event)">Search Artist</md-button>
    <div layout flex="80" ng-if="areTracksLoaded()">
        <md-tabs flex md-border-bottom>
            <md-tab ng-repeat="track in trackData" label="{{track.artistName}}">
                <div class="tabContainer" layout="column" flex layout-align="center center">
                    <md-label>Artist: {{track.artistName}}</md-label>
                    <div layout>
                        <img ng-src="{{track.artworkUrl30}}" />
                        <md-label>Track: {{track.trackName}}</md-label>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </div>
</div>